Package: com.sandriolo.redbox
Name: redbox
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Stefano Andriolo
Author: Stefano Andriolo
Section: Tweaks
