Package: com.sandriolo.redbox
Name: redbox
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Stefano Andriolo
Author: Stefano Andriolo
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 200
